@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=Space+Grotesk:wght@400;500;700&display=swap');

body{
	font-family: 'EB Garamond', serif;
	font-size: 16;
	line-height: normal;
	color: #1E1E1E;
}
a,.nav-link{
	color: #1E1E1E;	
}

header{
	font-family: 'Space Grotesk', sans-serif;
}

.btn{
	font-family: 'Space Grotesk', sans-serif;
	font-size: 12px;
	font-weight: 500;
}

h1{
	font-family: 'EB Garamond', serif;
}
