.hidden-block{
  display: none!important;
}
.custom-logo-link, .secondary-menu-wrapper{
  display: none!important;
}
#topnav{
	position: absolute!important;
}

@media (max-width: 768px){
#topnav {
    background-color: unset!important;
    box-shadow: unset!important;
    min-height: unset!important;
    padding: 30px!important;
}
.justify-content-center {
    justify-content: unset!important;
}
.book-villa{
	display: none;
}
.book-table{
	display: none;
}
.custom-logo-link, .secondary-menu-wrapper{
  display: none!important;
}
}
.toggleContainer {
  position: fixed;
  right: -100px;
  width: 200px;
  bottom: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 99999;
  padding-left: 100px;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .toggleContainer {
    display: none;
  }
}

.toggleContainer .container-caption {
  position: absolute;
  right: 170px;
  bottom: 0;
  margin-bottom: -15px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toggleContainer .toggle-container-btn {
  font-size: 42px;
  left: -60px;
  width: 80px;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  cursor: pointer;
}

.toggleContainer .option {
  position: relative;
  font-size: 32px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toggleContainer .option span {
  position: absolute;
  right: -100%;
  padding-right: 10px;
  text-align: right;
  font-size: 11px;
  width: 100px;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 42px;
}

.toggleContainer:hover .container-caption {
  margin-bottom: 65px;
}

.toggleContainer.active {
  right: -60px;
}

.toggleContainer.active .container-caption {
  margin-bottom: 65px;
  right: 130px;
}

.toggleContainer.active .toggle-container-btn {
  left: -20px;
}

.toggleContainer.active .option {
  left: -25px;
}

.toggleContainer.active .option span {
  opacity: 1;
  right: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toggleContainer.active .option:hover, .toggleContainer.active .option.active {
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: .5;
}

#topnav.nav-sticky {
    backdrop-filter: unset;
    background-color: unset;
    box-shadow: unset;
}
/* 03. Navigation */

.nav-trigger {
  margin: 5px 0;
  float: left;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 10;
  height: 40px;
  width: 40px;
}

.nav-trigger .bar {
  width: 40px;
  height: 3px;
  background: #fff;
  margin: 6px 0 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#navigation {
  width: 500px;
  background: #000;
  position: fixed;
  top: 0;
  left: -500px;
  height: 100%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

@media screen and (max-width: 768px) {
  #navigation {
    width: 100%;
    overflow-y: scroll;
    display: block;
  }
}

#navigation .nav-trigger {
  position: absolute;
  top: -40px;
  left: -5px;
  opacity: 0;
}

#navigation .nav-trigger .bar {
  background: #fff;
  opacity: 0;
  margin: 0;
}

#navigation .nav-trigger .bar:first-child {
  margin-top: 17px;
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#navigation .nav-trigger .bar:last-child {
  opacity: 1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -6px;
}

#navigation .inner {
  margin: 60px;
  position: relative;
  padding-top: 40px;
}

@media screen and (max-width: 768px) {
  #navigation .inner {
    margin: 60px 30px;
    padding-top: 20px;
  }
}

#navigation hr {
  opacity: .3;
  margin: 40px 0;
}

@media screen and (max-width: 768px) {
  #navigation hr {
    margin: 20px 0;
  }
}

#navigation p {
  color: #fff;
  font-size: 1.3em;
  opacity: .7;
  font-family: "Playfair Display", Georgia, serif;
}

ul.menu, ul.menu-small {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

ul.menu li, ul.menu-small li {
  padding: 0;
  margin: 15px 0;
}

@media screen and (max-width: 768px) {
  ul.menu li, ul.menu-small li {
    margin: 20px 0;
    font-size: 1.2em;
  }
}

ul.menu li:first-child, ul.menu-small li:first-child {
  margin-top: 0;
}

ul.menu li:last-child, ul.menu-small li:last-child {
  margin-bottom: 0;
}

ul.menu li a, ul.menu-small li a {
  display: block;
  color: #fff;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  font-size: 0.8em;
  font-family: "Nexa Bold", Verdana, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

ul.menu li a:hover, ul.menu-small li a:hover {
  text-decoration: none;
  opacity: .5;
}

ul.menu-small li {
  margin: 15px 10px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  ul.menu-small li {
    display: block;
    margin: 15px 0;
  }
}

ul.menu-small li:first-child {
  margin-left: 0;
}

ul.menu-small li:last-child {
  margin-right: 0;
}

body.menu-active {
  background: #fff;
}

body.menu-active .toggleContainer * {
  color: #fff;
}

body.menu-active header .nav-trigger {
  opacity: 0;
}

body.menu-active #navigation .nav-trigger {
  opacity: 1;
}

body.menu-active .container-fluid {
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  body.menu-active .container-fluid {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media screen and (max-width: 768px) {
  body.menu-active .container-fluid {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  body.menu-active #navigation {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@media screen and (max-width: 768px) {
  body.menu-active #navigation {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}